<li class="topix-li col-md-10 col-md-offset-2">
  <div class="topix-li-command">
    <span class="topix-icon-edit fa fa-edit"></span>
    <span class="topix-icon-delete fa fa-times"></span>
  </div>
  <div class="topix-li-header">
    <h3 class="topix-li-title">{{title}}</h3>
  </div>
  <div class="topix-li-body">
    <a href="#">{{body}}</a>
  </div>
  <div class="topix-li-footer">
    <ul class="topix-li-tags">
      {{tags}}
    </ul>
    <ul class="topix-li-categories">
      {{categories}}
    </ul>
    <span class="topix-li-date">
      <div>9:33am</div>
      <div>10/31/2016</div>
    </span>
  </div>
</li>
